<p>
  Liste des personnes par compagnie
</p>

<div *ngIf='companies'>
  <select [(ngModel)]='selectedCompany'>
    <option *ngFor="let company of companies" [ngValue]='company'>{{company.name}}</option>
  </select>
</div>

<div *ngIf='companyPersons'>
  <div>{{companyPersons.totalCount}} personnes dans {{companyPersons.name}}</div>
  <div *ngFor='let person of companyPersons.persons'>
    {{person.firstName}} {{person.lastName}}
  </div>
  <div>
    <span *ngFor='let pageIndex of pageIndexes'>
      <button (click)='onChangePageIndex(pageIndex)' [ngClass]="currentPageIndex === pageIndex - 1 ? 'currentPageIndex' : ''">
        {{pageIndex}}
      </button>
    </span>
  </div>
</div>
